<script src="vue.js"></script>

<ul id="example-1">
	<li v-for="item in items">{{ item.message }}</li>
</ul>

<ul id="example-2">
	<li v-for="(item, index) in items">
		{{ parentMessage }} - {{ index }} - {{ item.message }}
	</li>
</ul>

<ul id="example-3">
	<template v-for="item in items">
		<li>{{ item.msg }}</li>
		<li class="divider"></li>
	</template>
</ul>

<ul id="repeat-object" class="demo">
	<li v-for="value in person"> {{ value }} </li>
	<div v-for="(value, key) in person"> {{ key }} : {{ value }}</div>
	<div v-for="(value, key, index) in person"> {{index}}. {{ key }} : {{ value }}</div>
</ul>

<div id="example-4">
	<span v-for="n in 10">{{ n }}</span>
</div>

<div id="todo-list-example">
	<input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
	<ul>
		<li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
	</ul>
</div>

<div id="example-5">
	<ul v-if="shouldRenderTodos">
		<li v-for="todo in todos" v-if="!todo.isComplete">{{ todo.title }}</li>
	</ul>

</div>

<script>
	// 列表渲染基本用法
	var example1 = new Vue({
		el: '#example-1',
		data: {
			items: [
				{message: 'Foo'},
				{message: 'Bar'},
			]
		}
	});

	// 访问父级属性,自身的索引
	var example2 = new Vue({
		el: "#example-2",
		data: {
			parentMessage: 'Parent',
			items: [
				{ message: 'Foo'},
				{ message: 'Bar'},
			]			
		}
	});

	// template v-for
	var example3 = new Vue({
		el: '#example-3',
		data: {
			items: [
				{msg : 1},
				{msg : 2},
				{msg : 3},
			]	
		}
	});

	// 对象迭代 v-for
	var repeat_obj = new Vue({
		el: "#repeat-object",
		data: {
			person: {
				firstName: 'John',
				lastName: 'Doe',
				age: 30
			}
		}	
	});

	// 整数迭代
	var example4 = new Vue({
		el: '#example-4',
	});

	// 组件和v-for
	Vue.component('todo-item', {
		template: '<li>{{ title }} <button type="button" v-on:click="$emit(\'remove\')">X</button></li>',
		props: ['title']
	});

	new Vue({
		el: '#todo-list-example',
		data: {
			newTodoText: '',
			todos: [
				{
					id: 1,
					title: 'Do the dishes',
				},
				{
					id: 2,
					title: 'Take out the trash',
				},
				{
					id: 3,
					title: 'Now the lawn',
				}
			],
			nextTodoId: 4
		},
		methods: {
			addNewTodo: function() {
				this.todos.push({id: this.nextTodoId, title: this.newTodoText});
				this.newTodoText = '';
			}
		}
	});


	var example5 = new Vue({
		el: "#example-5",
		data: {
			shouldRenderTodos: true,
			todos: [
				{title: 'A', isComplete: true},
				{title: 'B', isComplete: false},
				{title: 'C', isComplete: true},
			]
		}
	
	})
</script>